{% extends '/layout/admin.html.twig' %}

{% block title %}Produits - Section sous haute-surveillance{% endblock %}

{% block body %}
<div class="title-content">
    <h2>Produits</h2>
</div>

<div class="desc-content">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima placeat impedit dolor enim laudantium libero quae illo molestias, iusto molestiae doloremque excepturi expedita, natus, quod repellendus veniam eligendi necessitatibus architecto perspiciatis tempore! Exercitationem a libero doloribus placeat facilis est quasi saepe ullam eveniet repudiandae autem, adipisci cupiditate inventore nulla beatae? Excepturi saepe quas, omnis incidunt quaerat tempore dolore architecto. Cumque vel placeat eos quod odio aspernatur consectetur eius laudantium vitae expedita quos quam minus dignissimos mollitia suscipit amet excepturi quisquam, assumenda accusantium architecto voluptatem omnis. Sapiente eveniet asperiores rem dolores, cumque harum, impedit vero neque eligendi quod, sunt modi nobis!</p>
    <p><a href="{{ uri('admin_product_add') }}">Vous pouvez ajouter un nouveau produit en cliquant ici</a>.</p>
</div>

<div class="title-content">
    <h3>Liste de tous les produits</h3>
</div>

{% if products %}
    <div class="listing">
        <div class="two-col cards">
            {% for product in products %}
            <div class="one-col card">
                <div class="card-header">
                    <h4>{{ product.id }} {{ product.name }}</h4>
                </div>
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta beatae vel earum a itaque vitae corporis optio cupiditate ipsum veniam.</p>
                    <p>
                    {% if product.toxicity is same as('0') %}
                        Non-toxique
                    {% else %}
                        Toxique
                    {% endif %}
                    
                    </p>
                    <p>{{ product.volume }} <span class="grey">m3</span> </p>
                </div>
                <div class="card-foot">
                    <p><a href="/admin{{ product.url }}" class="button">Plus...</a></p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="pagination">
        {{ pagination | raw }}
    </div>
{% else %}
    <p>Il n'y a aucun produits enregistrés</p>
{% endif %}


{% endblock %}