<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WPSadmin | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/assets/css/admin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
</head>
<body>
    <header class="principal">
        <div class="title">
            <h1>Bienvenue Administrateur!</h1>
        </div>
        <section class="head-content">{{ title }}</section>
    </header>
    <main>

        <aside class="aside-principal">
            <div class="top">
                <div class="img-profile">
                    <img src="/assets/img/profile_male.png" alt="vector boy">
                </div>
                <nav class="menu">
                    <ul>
                        <li><i class="fas fa-home"></i> <a href="{{ uri('admin') }}">Accueil</a></li>
                        <li><i class="fas fa-user-tie"></i> <a href="{{ uri('admin_supplier_all') }}">Fournisseurs</a></li>
                        <li><i class="fas fa-warehouse"></i> <a href="{{ uri('admin_warehouse_all') }}">Entrepôts</a></li>
                        <li><i class="fas fa-box-open"></i> <a href="{{ uri('admin_product_all') }}">Marchandises</a></li>
                        <li><i class="fas fa-male"></i> <a href="{{ uri('admin_user_all') }}">Utilisateurs</a></li>
                    </ul>
                </nav>
            </div>
            <div class="comeback">
                <a href="{{ uri('home') }}">Retour au site</a>
            </div>
        </aside>

        <section class="content">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
            <script src="/assets/js/script.js"></script>
            {% for success in flash("success") %}
            <script>flash('{{success}}', 'success')</script>
            {% endfor %}

            {% for errors in flash("alert") %}
            <script>flash('{{alert}}', 'error')</script>
            {% endfor %}

            {% block body %}{% endblock %}
        </section>

    </main>
    {% block javascript %}{% endblock %}
</body>
</html>