<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WPSadmin | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/assets/css/admin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
</head>
<body>
    <header class="principal" id="top">
        <div class="title">
            <h1>Bienvenue Administrateur!</h1>
        </div>
        <section class="head-content">{{ title }}</section>
    </header>
    <main>

        <aside class="aside-principal">
            <div class="top">
                <div class="img-profile">
                    <img src="/assets/img/profile_male.png" alt="vector boy">
                </div>
                <nav class="menu">
                    <button class="accordion">MENU</button>
                    <ul class="panel" id="panel">
                        <li><a href="{{ uri('admin') }}"><img src="/assets/img/home.png" alt="home icon" class="icons"> Accueil</a></li>
                        <li><a href="{{ uri('admin_supplier_all') }}"><img src="/assets/img/supplier.png" alt="supplier icon" class="icons"> Fournisseurs</a></li>
                        <li><a href="{{ uri('admin_warehouse_all') }}"><img src="/assets/img/store.png" alt="store icon" class="icons"> Entrepôts</a></li>
                        <li><a href="{{ uri('admin_product_all') }}"><img src="/assets/img/product.png" alt="product icon" class="icons"> Marchandises</a></li>
                        <li><a href="{{ uri('admin_user_all') }}"><img src="/assets/img/user.png" alt="user icon" class="icons"> Utilisateurs</a></li>
                    </ul>
                </nav>
            </div>
            <div class="comeback">
                <a href="{{ uri('home') }}">Retour au site</a>
            </div>
        </aside>

        <section class="content">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
            <script src="/assets/js/script.js"></script>
            {% for success in flash("success") %}
            <script>flash('{{success}}', 'success')</script>
            {% endfor %}

            {% for errors in flash("alert") %}
            <script>flash('{{alert}}', 'error')</script>
            {% endfor %}

            {% block body %}{% endblock %}
        </section>

    </main>
    <footer class="footer">
        <a href="#top">TOP</a>
        <a href="{{ uri('home') }}">Retour au site</a>
    </footer>
    {% block javascript %}{% endblock %}
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
</body>
</html>