{% extends '/layout/default.twig' %}

{% block title %}Votre boîte de réception{% endblock %}

{% block body %}
<div class="container mb-5">
    <h2 class="display-5">Bienvenue sur votre boîte de messagerie</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum nesciunt ratione modi beatae odio eaque laudantium maxime, necessitatibus veritatis earum fugit minus pariatur tempora tenetur dicta! Tempore sunt perferendis non dolores quidem, itaque rerum facilis harum consequuntur omnis consequatur, voluptatem saepe nulla mollitia suscipit quae expedita recusandae qui numquam? Numquam labore earum iste vel. Amet, ad maxime! Similique odio ratione, optio magnam necessitatibus possimus deserunt distinctio ex maiores et dignissimos repudiandae animi. Voluptates, illum omnis nemo blanditiis accusantium libero distinctio.</p>
</div>

<div class="table-responsive container mb-5">
    <h2 class="display-5">Conversation en cours</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Lu</th>
                <th scope="col">Conversation avec</th>
                <th scope="col">Aperçu du dernier message</th>
                <th scope="col">Date du dernier message</th>
            </tr>
        </thead>
        <tbody>
{% if messages is empty %}
        <tr>
            <td></td>
            <td>Vous n'avez aucun message !</td>
            <td></td>
            <td></td>
        </tr>
{% else %}
{% set duplicate = [] %}
    {% for contact in users %}
        {% for message in messages %}
            {% if contact.id is same as(message.senderId) and contact.id not in duplicate %}
                <tr>
                    <th>{% if message.read is same as('0') %}<img src="/assets/img/env_close.png" alt="close envelope">{% else %}<img src="/assets/img/env_open.png" alt="open envelope">{% endif %}</th>
                        <td>{{ contact.name }}</td>
                    <td><a href="{{ uri('message_show', {'id':user.id, 'contact_id':contact.id}) }}">{{ message.message | slice(0, 35) }}...</a></td>
                    <td>{{ message.createdAt | date('d/m/Y H:i') }}</td>
                </tr>
                {% set duplicate = duplicate|merge([contact.id]) %}
            {% endif %}
        {% endfor %}
    {% endfor %}
    
{% endif %}
        </tbody>
    </table>
</div>

<div class="container mb-5">
    <p>Certains messages sont peut-être en <strong>attente de réponse</strong>, ils apparaîtront uniquement si le contact vous répond.</p>
</div>
    
<div class="container mb-5">
    <h2 class="display-5">Ecrivez un nouveau message</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum nesciunt ratione modi beatae odio eaque laudantium maxime, necessitatibus veritatis earum fugit minus pariatur.</p>
    <a href="{{ uri('message_new', {'id' : user.id }) }}" class="btn btn-warning">Ecrire</a>
</div>
{% endblock %}