{% extends '/layout/admin.html.twig' %}

{% block title %}Modifier les informations de cet entrepôt{% endblock %}

{% block body %}
<section class="show">
    <div class="">
        <h2 class="">Tous les produits de cet entrepôt</h2>
    </div>

    {% if products %}
        <div class="list">
            <ul>
        {% for product in products %}
                <li>{{ product.name }}</li>
        {% endfor %}
            </ul>
        </div>
    {% else %}
        <p>Il n'y a aucun produits affiliés avec cet entrepôt.</p>
    {% endif %}
    <p><a href="/admin{{ warehouse.url }}/product">Ajouter des produits à cet entrepôt</a>.</p>
    
</section>

<div class="">
    <h2 class="">Modifier les informations de cet entrepôt</h2>
</div>

<p class="grey">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat inventore velit sapiente sequi nulla earum molestiae aliquam id explicabo vero sit, asperiores ratione rem deleniti, laborum dicta laboriosam harum! Sed illo adipisci voluptatum exercitationem facilis qui dolorum, expedita autem voluptates ipsum quia ducimus quam distinctio delectus minima amet odit necessitatibus fugiat maiores fuga architecto! Consequatur cumque dicta ex vel beatae reprehenderit corrupti, itaque fugiat rem expedita? Laboriosam ipsum dignissimos nemo dolores quod rem culpa recusandae officiis facilis pariatur doloribus consequatur voluptatem iusto eum mollitia deleniti obcaecati hic a consequuntur itaque, esse enim. Nemo molestiae, cumque optio et dolores nesciunt numquam!</p>

<div class="formulaire">
    <div class="form-info">Identifiant de l'entrepôt : <span class="grey">{{ warehouse.id }}</span></div>
    <div class="form-info">Identifiant de l'utilisateur associé au Gérant de l'entrepôt : <span class="grey">{{ warehouse.userId }}</span></div>
    <form method="POST" action="" class="form">
            <div class="form-row ">
                <label for="name">Nom de votre entrepôt</label>
                <input type="text" name="name" class="form-input" id="name" value="{{ warehouse.name }}" placeholder="Entrez le nom de votre entrepôt" required>
            </div>

            <div class="form-row ">
                <label for="address">Adresse de votre entrepôt</label>
                <input type="text" name="address" class="form-input" id="address" value="{{ warehouse.address }}" placeholder="Entrez l'adresse" required>
            </div>

            <div class="form-row ">
                <label for="city_id">Dans quelle ville se trouve votre entrepôt?</label>
                <select name="city_id" id="city_id" class="custom-select" required>
                    <option value="">Sélectionnez votre ville</option>
                    {% for city in cities %}
                        {% if city.id is same as(warehouse.cityId) %}
                            <option value="{{ city.id }}" selected>{{ city.name }}</option>
                        {% else %}
                            <option value="{{ city.id }}">{{ city.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>

            <div class="form-row ">
                <label for="surface">De quelle taille est votre entrepôt?</label>
                <input type="number" name="surface" class="form-input" id="surface" value="{{ warehouse.surface }}" placeholder="Rentrer la superficie" required>
                <small>En mettre carré (m2)</small>
            </div>

            <div class="form-row ">
                <button type="submit" class="button">Modifier cet entrepôt</button>
            </div>
    </form>
</div>

{% endblock %}