{% extends '/layout/default.twig' %}

{% block title %}Page profil{% endblock %}

{% block body %}

<div class="container mb-5">
    <h1 class="display-3">Votre page profil</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus corrupti ullam vitae vero dignissimos aut officiis cum sequi veniam, dolores reprehenderit provident sapiente aspernatur pariatur molestias. Iure necessitatibus culpa exercitationem consequuntur ratione ullam amet laboriosam. Non error delectus modi ex perspiciatis iusto animi nobis veritatis. Aperiam porro assumenda quia ducimus esse nostrum quaerat quibusdam officiis blanditiis consequatur dicta, ut, illo repellendus sequi. Voluptatum veniam eum dolorum, quo doloribus rem facere repellat repudiandae recusandae, doloremque molestiae error laboriosam aliquid libero. Eaque?</p>
</div>

<div class="container mb-5">
    <h2 class="display-5">
        {% if user.role is same as('1')  %}
            Fournisseur
        {% elseif user.role is same as('7') %}
            Administrateur
        {% else %}
            Gérant d'entrepôt
        {% endif %}
    </h2>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id repudiandae recusandae similique itaque quia, veniam omnis exercitationem! Possimus consequatur aspernatur perspiciatis necessitatibus dolore error eligendi aliquam sed numquam excepturi maxime culpa provident in harum vero voluptatem amet sequi ratione eius veritatis, reiciendis illo corrupti enim. Vel, placeat! Suscipit adipisci, numquam magni, atque pariatur perferendis sequi hic quibusdam quia vero consequuntur a explicabo eum voluptatibus eaque? Aut voluptatibus dignissimos voluptatum accusamus.</p>
</div>

<div class="container">
    {% if user.role is same as('1')  %}
        <h2 class="h2 mb-5">Votre société</h2>
        {% if supplier %}
        <div class="container d-flex justify-content-center mb-5">
            <div class="card border-warning mb-3" style="max-width: 20rem;">
                <div class="card-header">{{ supplier.social }}</div>
                <div class="card-body">
                    <h4 class="card-title">{{ supplier.social }}</h4>
                    <p class="card-text">{{ supplier.address }}</p>
                    <p><a href="{{ supplier.url }}" class="btn btn-outline-warning">Plus d'infos</a></p>
                </div>
            </div>
        </div>
        {% else %}
        <p>Vous n'avez pas encore renseigné votre profil fournisseur. <a href="{{ uri("supplier_add") }}" class="text-warning">Inscrivez-le!</a></p>
        {% endif %}
    {% elseif user.role is same as('7') %}
        <h2 class="h2">Votre accès à l'administration</h2>
        <div class="container justify-content-center mb-5">
            <a href="{{ uri('admin') }}" class="btn btn-warning">Direction l'administration</a>
        </div>
    {% else %}
        <h2 class="h2">Gérer votre entrepôt !</h2>
        {% if warehouse %}
        <div class="container justify-content-center mb-5">
            <div class="card border-warning mb-3" style="max-width: 20rem;">
                <div class="card-header">{{ warehouse.name }}</div>
                <div class="card-body">
                    <h4 class="card-title">{{ warehouse.name }}</h4>
                    <p class="card-text">{{ warehouse.address }}</p>
                    <p class="card-text">{{ warehouse.surface }}m2</p>
                    <p><a href="{{ uri('warehouse_show') }}" class="btn btn-outline-warning">Plus d'infos</a></p>
                </div>
            </div>
        </div>
        {% else %}
        <p>Vous n'avez pas encore renseigné d'entrepôt. <a href="{{ uri("warehouse_add") }}" class="text-warning">Inscrivez-le!</a></p>
        {% endif %}
    {% endif %}
</div>

<div class="container mb-5 mt-5">
    <h2 class="display-5 text-center">Modifier vos informations personnelles</h2>
</div>

<div class="container">
    <form action="" method="post" class="form-group">
        <div class="form-row mb-5">
            <label for="name">Nom complet</label>
            <input type="text" name="name" class="form-control" id="name" value="{{ user.name }}" placeholder="Entrez votre nom complet" required>
        </div>

        <div class="form-row mb-5">
            <label for="email">Adresse email</label>
            <input type="email" name="mail" class="form-control" id="email" value="{{ user.mail }}" placeholder="Entrez votre email" required>
            <small id="emailHelp" class="form-text text-muted">Veuillez rentrer une adresse email correcte.</small>
        </div>

        <div class="form-row mb-5">
            <label for="password">Entrer votre mot de passe ou un nouveau</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="Entrez votre mot de passe" required>
            <small id="password" class="form-text text-muted">Veuillez rentrer un mot de passe de 6 caratères minimum.</small>
        </div>

        <div class="form-row mb-5">
            <label for="password_confirm">Verification de mot de passe</label>
            <input type="password" name="password_confirm" class="form-control" id="password_confirm" placeholder="Entrez à nouveau votre mot de passe" required>
        </div>

        <div class="form-row mb-5">
            <button type="submit" class="btn btn-warning">S'enregistrer</button>
        </div>
    </form>
</div>


{% endblock %}